[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"urllib3" = {extras = ["secure"]}
websocket-client = "*"
setuptools = "*"
wheel = "*"
twine = "*"

[dev-packages]

[requires]
python_version = "3.6"
